@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="ExcelJson変換.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                    ExcelJson変換君
                </a>
            </div>
        </nav>
        @Body
    </main>
</div>
